##### Write a Python program to add and sub two numbers using the + and - operator.

In [ ]:
a = 10
b = 20
print('c',a+b)


num1 = 15
num2 = 12
sum = num1 + num2
print("Sum of", num1, "and", num2 , "is", sum)

In [ ]:
a = 30
b = 20
print('c',a-b)


num1 = 15
num2 = 12
sub = num1 - num2
print("Sub of", num1, "and", num2 , "is", sub)

# Write a Python program to find the remainder of a division using the % operator.

In [ ]:
a = 30
b = 20
print('c',a-b)

num1 = 31
num2 = 8
remainder = num1 % num2
print("remainder of", num1, "and", num2 , "is", remainder)

# OPERATOR

# arithmetic

In [ ]:
a = 20
b = 3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)   #remainder
print(a//b)  #eliminate floar value
print(a**b)  #power

# assignment

In [ ]:
a = 20
a += 10
print(a)

b = 20
b -= 10
print(b)

c = 20
c *= 10
print(c)

d = 20
d /= 10
print(d)

e = 20
e %= 10
print(e)

f = 20
f //= 10
print(f)

g = 20
g **= 10
print(g)

h = 20
h &= 10
print(h)

i = 20
i |= 10
print(i)

j = 20
j ^= 10
print(j)

# Relational/comparison

In [ ]:
a = 10
b = 20
print("a > b is", a>b)
print("a > b is", a>=b)
print("a > b is", a<b)
print("a > b is", a<=b)
print("a == b is", a==b)
print("a == b is", a!=b)

In [ ]:
a = 10
b = 20
if (a>b):
    print("a is greater than b")
else:
    print("b is greater than a")

# DATA TYPE

In [ ]:
#numeric
a = 5
print(a,type(a))
b = 5.5
print(b, type(b))
c = 5+6j
print(c, type(c), id(c))

In [ ]:
#string
A = "IMRAN AKHTAR"
(A, type(A))

In [ ]:
A = '''Md 
imran 
akhtar
'''
print(A, type(A))

In [ ]:
a='10'
print(a,type(a))


a=10
print(a,type(a))

In [ ]:
#list
#list is mutable(chngeble) data type
l=[10,'imran',5.5]
#ex
l[2]=10
print(l, type(l))

In [ ]:
#tuple 
#tuple is immutable data type (its fast accessing as compare to list)
t=(10,28,'hello')
#t[1]=16
#t=(10)
print(t,type(t))

In [ ]:
#dictionary(mutable data type)
d={
    'course_name':'Python',
    'course_duration':'2 months'
}
print(d['course_name'])
print(d,type(d))

In [ ]:
#set(immutable data type)

s={10,52,62,62,'imran','imran'}
print(s,type(s))

In [ ]:
#user input and type casting

#input()

a = input("Enter a number")
b = input("Enter a number")
print(a+b)
#output does not add bcz its string 


#type casting
a = int(input("Enter a number"))
b = int(input("Enter a number"))
print(a+b)

In [ ]:
#type casting
a = int(input("Enter a number"))
b = int(input("Enter a number"))
print(a+b)

In [ ]:
#type casting
a = float(input("Enter a number"))
b = float(input("Enter a number"))
print(a+b)

a = float(input("Enter a number"))
b = float(input("Enter a number"))
print(a+b)

In [ ]:
#eval()
#type casting
a = eval(input("Enter a number"))
b = eval(input("Enter a number"))
print(a+b)

a = eval(input("Enter a number"))
b = eval(input("Enter a number"))
print(a+b)


a = eval(input("Enter a number"))
b = eval(input("Enter a number"))
print(a+b)

In [ ]:
Java:

public class Add
{
    public stattic void main(String[]args)
    {
        int a,b:
        a = 10;
        b = 20;
        System.Out.Println("the sum:"+(a+b));
    }
}

C:
    
#include<stdio.h
void main()
{
    int a,b;
    a = 10;
    b = 20;
    printf("the sum:%d",(a+b));
}

Python:
a = 10
b =20
print("the sum:", a+b)

In [ ]:
if 5 > 2:
print("Five is greater than two!")

In [ ]:
a = 10
b = 20
print('a') #string
print(a,b)
print(id(a), id(b)) # memory location
print('a',b)
print(a+b)

###### a = 10
b = 20
c =a<b
print(c)

In [ ]:
x = [10,20,30,40]
    b = bytes(x)
    type(b)
    print(b[0])
    print(b[-1])
        for i in range:
print(i)

In [ ]:
x = [10, 20, 30, 40]
b = bytes(x)
print(type(b))
# print(b[0])
# print(b[-1])

for i in b:
    print(i)

In [ ]:
x = [10, 20, 30, 40]
b = bytearray(x)
for i in b:
    print(i)
b[0] = 100
print("#########################################")
for i in b:
    print(i)

In [ ]:
#generate number from 0 to 9
r = range(10)
for i in r:
    print(1)

# Form3: - range(10,20,2)

In [ ]:
r = range(10,20,2)
for i in r:
    print(i)

In [ ]:
string = "10"
number = 15
new_string = int(string)
sum = new_string+ number
print(sum)

In [ ]:
string = "10"
number = 15
new_string = int(string)
sum = new_string+ number
print(sum)

In [ ]:
a=15
b=7
print(bin(a))
print(bin(b))
print(bin(a&b)) # 1 and 1 = 1 , other is 0
print(bin(a|b)) # any operand 1 is 1, other is 0
print(bin(a^b)) # 1+1, 0+0 = 1 but ^ function reverse the reselt

In [ ]:
a = input("enter a number")
b = int(a)
if b % 2 == 0:
    print(b,"even number")

In [ ]:
a = input("enter a number")
b = int(a)
if b % 2 == 0:
    print(b,"even number")
else:
    print(b,"odd number")

In [ ]:
a = 10
print(a)

In [ ]:
marks = int(input("enter the student marks"))
if marks >= 60:
    print("1st div")
elif marks >= 60:
    print("2nd div")
elif marks >= 50:
    print("3rd div")
else:
    print("fail")

In [ ]:
marks = int(input("enter the student marks"))
if marks >= 60:
    print("1st div")
if marks >= 60:
    print("2nd div")
if marks >= 50:
    print("3rd div")
else:
    print("fail")

In [ ]:
for n in range(5):
    print(n)
    
print("##############################")

for a in range(1,5):
    print(a)  
    
print("##############################")

for b in range(1,6,2):
    print(b)

In [ ]:
for i in range (2,21,2):
    print(i)
    
print("######################################")

for i in range (1,11):
    print(2*i)

In [ ]:
for i in range (1,11):
    print("2*" ,i ,"=" ,2*i)

In [ ]:
for i in range (11,0,-1):
    print(i)

In [ ]:
print(a)

In [ ]:
for i in range (11,12):
    print(i)

In [ ]:
i = 2
while i<=10:
    print(i)
    i=i+1

In [ ]:
i = 1
while i<=10:
    print(i)
    i=i+1
print(i)

In [ ]:
a = 10
a = "imran"
print(a)

In [ ]:
first_name = "imran"
last_name = "akhtar"
print("first_name is {} and last_name is {}",first_name,last_name)

In [ ]:
first_name = "imran"
last_name = "akhtar"
print("first_name is {} and last_name is {}".format(first_name,last_name))

In [ ]:
first_name = "imran"
last_name = "akhtar"
print("first_name is {1} and last_name is {0}".format(first_name,last_name))

In [ ]:
first_name = "imran"
last_name = "akhtar"
print("first_name is {} and last_name is {}".format(last_name,first_name))

In [ ]:
first_name = "imran"
last_name = "akhtar"
print("first_name is {1} and last_name is {0}".format(last_name,first_name))

In [ ]:
age = int(input("enter your age     "))

if age < 18:
    print("Minneeeerrr age")
    if age <15:
        print("yoou are in school")
    else:
        print("you are in college")
elif age>=18 and age<30:
    print("youth")
elif age >=30 and age<50:
    print("mid senior cit....")
else:
    print("senior cit.........")

In [ ]:
age = int(input("eeenteeerr yoouurrr age"))

if age<

In [ ]:
lst=[1,2,3,4,5,6,7,8,9]
sum1=0
for i in lst:
    sum1 = sum1+i
print(sum1)

In [ ]:
lst=[1,2,3,4,5,6,7]
sum1=0
for i in lst:
    sum1=sum1+i
print(sum1)

In [ ]:
lst=[1,2,3,4,5,6,7]
# even_sum=0
# odd_sum=0
for i in lst:
    if i%2==0:
        print("even number", i)
    else:
        print("odd number",i)

In [ ]:
lst=[1,2,3,4,5,6,7]
# even_sum=0
# odd_sum=0
for i in lst:
    if i%2==0:
        print("even number".format(i))
    else:
        print("odd number".format(i))

In [ ]:
lst=[1,2,3,4,5,6,7]
even_sum=0
odd_sum=0
for i in lst:
    if i%2==0:
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
        
print("even sum is {}".format(even_sum))
print("odd sum is {}".format(odd_sum))

In [ ]:
i = 0
even_sum=0
odd_sum=0
while i <= 10:
    if i%2==0:
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
    i=i=1
print(even_sum,odd_sum)

In [ ]:
i = 0
even_sum=0
odd_sum=0
while i <= 10:
    if i%2==0:
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
    i=i=1
print(even_sum,odd_sum)

In [ ]:
# break

x = 1
while x<7:
    print(x)
    x=x+1

In [ ]:
# break

x = 1
while x<7:
    print(x)
    if x==4:
        break
    x=x+1

In [ ]:
# break

x = 1
while x<7:
    if x==4:
        break
    print(x)
    x=x+1

In [ ]:
# continue
x = 1
while x<7:
    x=x+1
    if x==4:
        continue
    print(x)

# string indexing

In [ ]:
print('''imran
      alakjta''')

In [16]:
name=("imran akhtar")
print(name[-1])
print(name[9])
print(name[-4])
print(name[-7])
print(name[10])

r
t
h

a

In [17]:
# slicing
a = ("I Love Coding")

print(a[0:5])

print(a[0:])

print(a[0::2])
# reverce
print(a[0:-5])
print(a[-1:])
print(a[:-1])
print(a[-1::-2])
print(a[-1:10:-2])

I Lov
I Love Coding
ILv oig
I Love C
g
I Love Codin
gio vLI
g

In [15]:
# string iteration

a = ("I Love Coding")
t=len(a)
print(t)
for i in range(t):
    print(a[i])

13
I

L
o
v
e

C
o
d
i
n
g

In [ ]:
# string iteration reverce
a = ("I Love Coding")
t=len(a)
print(t)
for i in range(t-1,-1,-1):
    print(a[i])

In [ ]:
a = ("I Love Coding")
# t=len(a)
print(t)
for i in range(len(a)-1,-1,-1):
    print(a[i])

In [ ]:
# other method
a = ("I Love Coding")
b=a.upper()
for i in b:
    print(i)

In [ ]:
# lower case
a = ("I Love Coding")
n=a.lower()
print(n)

In [ ]:
# upper case
a = ("I Love Coding")
n=a.upper()
print(n)

In [ ]:
# title
a = ("i love Coding")
n=a.title()
print(n)

In [ ]:
# capitalize
a = ("i love Coding")
n=a.capitalize()
print(n)

In [ ]:
# find
a = ("i love Coding")
print(a.find("i"))

In [ ]:
a = ("i love Coding")
print(a.find("i",1))

In [ ]:
a = ("i love Coding")
print(a.find("z"))

In [ ]:
# index
a = ("i love Coding")
print(a.index("e"))

In [ ]:
a = ("i love Coding")
print(a.index("a"))

In [ ]:
# is alpha (true and false based a str only contain alphabets if any number then print false)
a = ("Coding")
print(a.isalpha())

In [ ]:
a = ("Coding123")
print(a.isalpha())

In [ ]:
a = ("i love Coding")
print(a.isalpha())

In [ ]:
# is alpha (true and false based it contain only digit)
a = ("1233")
print(a.isdigit())

In [ ]:
a = ("i love Coding")
print(a.isdigit())

In [ ]:
a = ("i love Coding1233")
print(a.isdigit())

In [ ]:
# is alpha (true and false based it contain number and char)
a = ("Coding1233")
print(a.isalnum())

In [ ]:
a = ("12344")
print(a.isalnum())

In [ ]:
a = ("coding")
print(a.isalnum())

In [ ]:
a = ("i love Coding1233")
print(a.isalnum())

# chr()

In [ ]:
# convert takes in an integer i and converts it to a character c,  so it returns a character string

# convert integer 65 to ASCII character ("A")

y = chr(65)
print(type(y),y)

In [ ]:
# this takes a single unicode character(string of lenght) and returns an integer ,so the format is:

# convert ASCII unicode character 'A' to 65

y = ord("A")
print(type(y),y)

# format[] function

In [1]:
#named index

a11 = "My name is {f_name} {L_name}".format(f_name="IMRAN",L_name="AKHTAR")

# numbered index
a2 = "My name is {0} {1}".format("IMRAN","AKHTAR")

# empty placeholders
a3 = "My name is {} {}".format("IMRAN","AKHTAR")
print(a11)
print(a2)
print(a3)

My name is IMRAN AKHTAR
My name is IMRAN AKHTAR
My name is IMRAN AKHTAR

In [2]:
a4 = "My name is {1} {0}".format("IMRAN","AKHTAR")
print(a4)

My name is AKHTAR IMRAN

# LIST

In [4]:
l = [1,2,3,4,5]
print(l[2])
print(type(l))

3
<class 'list'>

In [6]:
#nested list
l = [1,2,3,[4,5,6]]
print(l[3][2])

6

In [18]:
#mix list 
l = [2,3,4,"IMRAN",[5,6,7]]
print(l[3])


#list slicing
print(l[0:2]) # 2 mean indexing less than 2 (1)
print(l[1:])

IMRAN
[2, 3]
[3, 4, 'IMRAN', [5, 6, 7]]

In [14]:
l = [1,2,3,4,5,6,]
print(l[0::2])
print(l[-1::-1])
print(l[0:5:2])

[1, 3, 5]
[6, 5, 4, 3, 2, 1]
[1, 3, 5]

In [ ]:
# startlist practice

In [34]:
#list slicing
l = [10,30,40,50,"imran"]
print(type(l),id(l))
# print(id(l))

print(l[3],l[4])

print(l[0::2])

print(l[0:3:2])

print(l[-1::-2])

print(l[-1::])

<class 'list'> 2376388813120
50 imran
[10, 40, 'imran']
[10, 40]
['imran', 40, 10]
[]

In [49]:
#list iiteration 
l = [10,20,30,50,60]
# for a in l:
#     print(a)
    
    
t = len(l)
for i in range(t):
    print(l[i])

10
20
30
50
60

In [54]:
# reverce order
l = [10,20,30,50,60]
t = len(l) # 5
for i in range(t-1,-1,-1):
    print(l[i])

60
50
30
20
10

In [ ]:
# list oteration 
l = []